<#import "/spring.ftl" as spring />

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assistant</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="/accounts" methods="get">Счета</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/transactions/transaction/creat"
                                   methods="get">Транзакции</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/categories">Категории</a>
                            </li>
                        </ul>
                    </div>
                    <div class="span10">
                        <form action="/categories/report/creat" method="post">
                            <div class="mb-3">
                                <h2>Отчет</h2><br>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputCategories" class="form-label">Категории</label><br>
                                <@spring.formCheckboxes "reports.categories" list "<br>" "id=\"exampleInputCategories\" \"categories\""/>
                                <@spring.showErrors "<br>" "color: red"/>
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">Начало периода</label>
                                <@spring.formInput "reports.dateAfter" "class=\"form-control\" id=\"date\" place holder\"Дата\"" "date" />
                                <@spring.showErrors "<br>" "color: red"/>
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">Конец периода</label>
                                <@spring.formInput "reports.dateBefore" "class=\"form-control\" id=\"date\" place holder\"Дата\"" "date" />
                                <@spring.showErrors "<br>" "color: red"/>
                            </div>
                            <div class="mb-3">
                                <br>
                                <button type="submit" class="btn btn-primary">Отчет</button>
                                <a class="btn btn-primary" href="/categories" role="button">Отмена</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div><h2>${user.email}</h2></div>
            <a class="btn btn-primary" href="/logout" role="button">Выход</a>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>